.information-dashboard{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    display: block;
    width: 400px;
    height: 260px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(51, 154, 240);;
    margin-bottom: 0.6rem;
}

.selector{

}