.information-dashboard{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    display: block;
    width: 400px;
    height: 260px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(51, 154, 240);;
    margin-bottom: 0.6rem;
    -webkit-animation-name: colorChanges;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 20s;
}

.selector{

}

@-webkit-keyframes colorChanges {
    0% { color: #d300d3; }
    14% { color: #a000ff; }
    15% { color: #a000ff; }
    29% { color: #33d6ec; }
    30% { color: #33d6ec; }
    44% { color: #099409; }
    45% { color: #099409; }
    59% { color: #f8d50e; }
    60% { color: #f8d50e; }
    74% { color: #f18305; }
    75% { color: #f18305; }
    89% { color: #f82222; }
    100% { color: #d300d3; }
}